#contenedorr{
    
    background-image: url(../registro/fondo-naturaleza-acuarela-pintada-mano_23-2148941603.avif);
    background-repeat: no-repeat;
    background-size: cover;
  /*  background: linear-gradient(to right, #024dfc, #f3f4f7); */
        height: 100vh;  
   display: flex;
   justify-content: center;
   align-items: center;
      
      
}






#formm{
    color: black;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: Arial, Helvetica, sans-serif;
 
}

#btn{
 background-color: rgb(20, 20, 54);
 color: aliceblue;
}

#parrafo{
    font-size:  15px;
}